[submodule "Src/AMDTBaseTools"]
	path = Src/AMDTBaseTools
	url = ../common-src-AMDTBaseTools.git
[submodule "Src/AMDTOSWrappers"]
	path = Src/AMDTOSWrappers
	url = ../common-src-AMDTOSWrappers.git
[submodule "Src/AMDTOSAPIWrappers"]
	path = Src/AMDTOSAPIWrappers
	url = ../common-src-AMDTOSAPIWrappers.git
[submodule "Src/DeviceInfo"]
	path = Src/DeviceInfo
	url = ../common-src-DeviceInfo.git
[submodule "Src/AMDTMutex"]
	path = Src/AMDTMutex
	url = ../common-src-AMDTMutex.git
[submodule "Src/ADLUtil"]
	path = Src/ADLUtil
	url = ../common-src-ADLUtil.git
[submodule "Src/GPUPerfAPIUtils"]
	path = Src/GPUPerfAPIUtils
	url = ../common-src-GPUPerfAPIUtils.git
[submodule "Src/TSingleton"]
	path = Src/TSingleton
	url = ../common-src-TSingleton.git
[submodule "Src/Vsprops"]
	path = Src/Vsprops
	url = ../common-src-Vsprops.git
[submodule "Src/DynamicLibraryModule"]
	path = Src/DynamicLibraryModule
	url = ../common-src-DynamicLibraryModule.git
[submodule "Src/ACLModuleManager"]
	path = Src/ACLModuleManager
	url = ../common-src-ACLModuleManager.git
[submodule "Src/ShaderUtils"]
	path = Src/ShaderUtils
	url = ../common-src-ShaderUtils.git
[submodule "Src/AmdDxExt"]
	path = Src/AmdDxExt
	url = ../common-src-AmdDxExt.git
[submodule "Src/AMDTActivityLogger"]
	path = Src/AMDTActivityLogger
	url = ../common-src-AMDTActivityLogger.git
[submodule "Src/AMDTAPIClasses"]
	path = Src/AMDTAPIClasses
	url = ../common-src-AMDTAPIClasses.git
[submodule "Src/AMDTApplication"]
	path = Src/AMDTApplication
	url = ../common-src-AMDTApplication.git
[submodule "Src/AMDTApplicationComponents"]
	path = Src/AMDTApplicationComponents
	url = ../common-src-AMDTApplicationComponents.git
[submodule "Src/AMDTAssertionHandlers"]
	path = Src/AMDTAssertionHandlers
	url = ../common-src-AMDTAssertionHandlers/
[submodule "Src/AMDTInterceptor"]
	path = Src/AMDTInterceptor
	url = ../common-src-AMDTInterceptor
[submodule "Src/CElf"]
	path = Src/CElf
	url = ../common-src-CElf.git
[submodule "Src/DDS"]
	path = Src/DDS
	url = ../common-src-DDS.git
[submodule "Src/DebugHelpers"]
	path = Src/DebugHelpers
	url = ../common-src-DebugHelpers.git
[submodule "Src/Miniz"]
	path = Src/Miniz
	url = ../common-src-Miniz.git
[submodule "Src/VersionInfo"]
	path = Src/VersionInfo
	url = ../common-src-VersionInfo.git
[submodule "Src/Vulkan"]
	path = Src/Vulkan
	url = ../common-src-Vulkan.git
[submodule "Src/SCons"]
	path = Src/SCons
	url = ../common-src-SCons.git
[submodule "DK/Installer"]
	path = DK/Installer
	url = ../common-dk-Installer.git
[submodule "Lib/AMD/ADL"]
	path = Lib/AMD/ADL
	url = ../common-lib-amd-ADL.git
[submodule "Lib/AMD/APPSDK"]
	path = Lib/AMD/APPSDK
	url = ../common-lib-amd-APPSDK-3.0.git
[submodule "Lib/Ext/GoogleTest"]
	path = Lib/Ext/GoogleTest
	url = ../common-lib-ext-GoogleTest-1.7.git
[submodule "Lib/Ext/OpenGL"]
	path = Lib/Ext/OpenGL
	url = ../common-lib-ext-OpenGL.git
[submodule "Lib/Ext/OpenGLES"]
	path = Lib/Ext/OpenGLES
	url = ../common-lib-ext-OpenGLES.git
[submodule "Lib/Ext/Windows-Kits"]
	path = Lib/Ext/Windows-Kits
	url = ../common-lib-ext-WindowsKits.git
[submodule "Lib/Ext/OpenCV"]
	path = Lib/Ext/OpenCV
	url = ../common-lib-ext-OpenCV-2.49.git
[submodule "Lib/Ext/OpenEXR"]
	path = Lib/Ext/OpenEXR
	url = ../common-lib-ext-OpenEXR-1.4.git
[submodule "Lib/Ext/Boost"]
	path = Lib/Ext/Boost
	url = ../common-lib-ext-Boost-1.59.git
[submodule "Lib/Ext/tinyxml"]
	path = Lib/Ext/tinyxml
	url = ../common-lib-ext-tinyxml-2.6.2.git
[submodule "Lib/Ext/zlib"]
	path = Lib/Ext/zlib
	url = ../common-lib-ext-zlib-1.2.8.git
[submodule "Lib/Ext/qcustomplot"]
	path = Lib/Ext/qcustomplot
	url = ../common-lib-ext-qcustomplot-1.3.1.git
[submodule "Lib/Ext/Qt"]
	path = Lib/Ext/Qt
	url = ../common-lib-ext-Qt-5.5.git
[submodule "Lib/Ext/QScintilla"]
	path = Lib/Ext/QScintilla
	url = ../common-lib-ext-QScintilla-2.8.git
[submodule "Lib/Ext/Vulkan"]
	path = Lib/Ext/Vulkan
	url = ../common-lib-ext-Vulkan-1.0.21.1.git
[submodule "Lib/AMD/ACL"]
	path = Lib/AMD/ACL
	url = ../common-lib-AMD-ACL.git
[submodule "Lib/AMD/CAL"]
	path = Lib/AMD/CAL
	url = ../common-lib-AMD-CAL-8.95.git
[submodule "Lib/Ext/utf8cpp"]
	path = Lib/Ext/utf8cpp
	url = ../common-lib-ext-utf8cpp.git
[submodule "Lib/Ext/GRLibDWARF"]
	path = Lib/Ext/GRLibDWARF
	url = ../common-lib-ext-GRLibDWARF.git
