[submodule "Src/AMDTBaseTools"]
	path = Src/AMDTBaseTools
	url = ../common-src-AMDTBaseTools.git
[submodule "Src/AMDTOSWrappers"]
	path = Src/AMDTOSWrappers
	url = ../common-src-AMDTOSWrappers.git
[submodule "Src/AMDTOSAPIWrappers"]
	path = Src/AMDTOSAPIWrappers
	url = ../common-src-AMDTOSAPIWrappers.git
[submodule "Src/DeviceInfo"]
	path = Src/DeviceInfo
	url = ../common-src-DeviceInfo.git
[submodule "Src/AMDTMutex"]
	path = Src/AMDTMutex
	url = ../common-src-AMDTMutex.git
[submodule "Src/ADLUtil"]
	path = Src/ADLUtil
	url = ../common-src-ADLUtil.git
[submodule "Src/GPUPerfAPIUtils"]
	path = Src/GPUPerfAPIUtils
	url = ../common-src-GPUPerfAPIUtils.git
[submodule "Src/TSingleton"]
	path = Src/TSingleton
	url = ../common-src-TSingleton.git
[submodule "Src/Vsprops"]
	path = Src/Vsprops
	url = ../common-src-Vsprops.git
[submodule "Src/DynamicLibraryModule"]
	path = Src/DynamicLibraryModule
	url = ../common-src-DynamicLibraryModule.git
[submodule "Src/ACLModuleManager"]
	path = Src/ACLModuleManager
	url = ../common-src-ACLModuleManager.git
[submodule "Src/ShaderUtils"]
	path = Src/ShaderUtils
	url = ../common-src-ShaderUtils.git
[submodule "Src/AmdDxExt"]
	path = Src/AmdDxExt
	url = ../common-src-AmdDxExt.git
[submodule "Src/AMDTActivityLogger"]
	path = Src/AMDTActivityLogger
	url = ../common-src-AMDTActivityLogger.git
[submodule "Src/AMDTAPIClasses"]
	path = Src/AMDTAPIClasses
	url = ../common-src-AMDTAPIClasses.git
